* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/* Style Header */
header {
    padding: 10px;
}

h1 {
    display: inline-block;
    font-size: 40px;
    line-height: 60px;
    vertical-align: middle;
}

img {
    vertical-align: middle;
    height: 60px;
}

/* Style Main */
main  {
    background-color: #F5F8F9;
    height: 1000px;
}