* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/* Style Header */
header {
    padding: 10px;
    background-color: white;
}

h1 {
    display: inline-block;
    font-size: 40px;
    line-height: 60px;
    vertical-align: middle;
}

img {
    vertical-align: middle;
    height: 60px;
}

/* Style Main */
main  {
    background-color: #F5F8F9;
    border: 1px solid #F5F8F9;
    height: 80vw;
}

/* Style Barra Pulsanti */
#nav {
    margin: 3% 20% 0.3%;
    border-radius: 10px 10px 0 0;
}

#nav,#task {
    background-color: white;
    padding: 1% 3%;
    border: 1px solid white;
}

button {
    padding: 8px 12px;
    border-radius: 5px;
    font-size: 15px;
}

#nav button:nth-child(1) {
    background-color: #47AEF1;
    border: 1px solid #47AEF1;
    color: white;
}

#nav button:nth-child(2) {
    background-color: white;
    border: 1px solid grey;
    color: grey;
}

/* Style Sezione Task */
#task {
    margin: 0 20% 2%;
    border-radius: 0 0 10px 10px;
    color: #444851;
}

#task section {
    margin: 30px 0;
    line-height: 40px;
}

.label {
    padding: 5px 8px;
    border-radius: 30px;
    color: white;
    font-size: small;
}

.blue {
    border: 1px solid #47AEF1;
    background-color: #47AEF1;
}

#violet {
    border: 1px solid #9d72e4;
    background-color: #9d72e4;
}

#green {
    border: 1px solid #64C0A9;
    background-color: #64C0A9;
}

#orange {
    border: 1px solid #F29E33;
    background-color: #F29E33;
}

#pink {
    border: 1px solid #D763A1;
    background-color: #D763A1;
}

#lightgreen {
    border: 1px solid #B1C925;
    background-color: #B1C925;
}

.entitya {
    padding: 1px 3px;
    color: #5DBDA4;
    font-size: small;
    border: 1px solid #5DBDA4;
    border-radius: 50%;
}

.entityb {
    border: 1px solid #fa8884;
    color: #fa8884;
    padding: 1px 5px;
    font-size: 14px;
    border-radius: 50%;
}